.container {
  background-image: url("../../images/ballOpacity.svg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @media only screen and (max-width: 600px) {
    background-size: 700px;
    height: auto;
    display: flex;
  }
}

.playerDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30%;
  padding-top: 5%;
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 30%;
    padding-bottom: 40%;
  }
}

.image {
  width: 380px;
  height: 500px;
  @media only screen and (max-width: 600px) {
    width: 210px;
    height: 320px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding-top: 40px;
  margin-left: 50px;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    margin-left: 20px;
  }
}

.first {
  color: rgba(247, 148, 30, 1);
  font-size: 20px;
  font-weight: 700;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.name {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 700;
  margin-left: 50px;
  @media only screen and (max-width: 600px) {
    margin-left: 20px;
  }
}
