.container {
  background-image: url("../../images/janaFix.svg");
  height: 100vh;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
  margin-left: 10%;
  @media only screen and (max-width: 600px) {
    margin-left: 30%;
    width: 70%;
    margin-top: 40%;
  }
}
.title {
  color: rgba(247, 148, 30, 1);
  font-size: 50px;
  font-weight: 700;
  @media only screen and (max-width: 600px) {
    width: 100%;
    font-size: 30px;
  }
}
.text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  padding-bottom: 20px;
}

.button {
  color: rgba(247, 148, 30, 1);
  font-size: 16px;
  font-weight: 400;
  border: 2px solid rgba(247, 148, 30, 1);
  cursor: pointer;
  margin-left: 10%;
  padding: 7px;
  @media only screen and (max-width: 600px) {
    margin-left: 30%;
    margin-top: 10%;
  }
}
